@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Clientes</h6>
                        <h6 id="totalcliente"></h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-users fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Ventas</h6>
                        <h6 id="totalventa"></h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-shopping-bag fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Productos</h6>
                        <h6 id="totalproducto"></h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-boxes fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tags me-1"></i>
        Historial de Ventas
    </div>
    <div class="card-body">

        <form action="@Url.Action("ExportarVenta","Home")" method="post">
            <div class="row align-items-end">
                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha de Inicio:</label>
                        <input class="form-control" type="text" id="txtfechainicio" name="fechainicio" />
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">Fecha Fin:</label>
                        <input class="form-control" type="text" id="txtfechafin" name="fechafin" />
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="mb-2">
                        <label class="form-label">ID Transaccion:</label>
                        <input class="form-control" type="text" id="txtidtransaccion" name="idtransaccion" />
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="d-grid mb-2">
                        <button class="btn btn-primary" id="btnbuscar" type="button"><i class="fas fa-search"></i>Buscar</button>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="d-grid mb-2">
                        <button class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i>Exportar</button>
                    </div>
                </div>
            </div>
        </form>

        <hr />

        <div class="row">
            <div class="col-sm-12">
                <table id="tabla" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha Venta</th>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>ID Transaccion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var tabladata;

        $(document).ready(function () {

        $("#txtfechainicio").datepicker({dateFormat : 'dd/mm/yy'}).datepicker('setDate', new Date) // se establece la forma en que se va a mostrar el datepicker y la fecha que va a utilizar por defecto
        $("#txtfechafin").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date)


          jQuery.ajax({
              url: '@Url.Action("VistaDashBoard", "Home")',
              type: "GET",
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              success: function (data) {

                  var objeto = data.resultado;

                  $("#totalcliente").text(objeto.TotalCliente)
                  $("#totalventa").text(objeto.TotalVenta)
                  $("#totalproducto").text(objeto.TotalProducto)
              }
          });

            var Url = '@Url.Action("ListaReporte", "Home")' +       // PARA QUE POR DEFECTO SE MUESTREN EN LA TABLA LAS VENTAS REALIZADAS ENTRE LAS FECHAS POR DEFAULT
            "?fechainicio=" + $("#txtfechainicio").val() +
            "&fechafin=" + $("#txtfechafin").val() +
            "&idtransaccion=" + $("#txtidtransaccion").val()


                tabladata = $("#tabla").DataTable({
                    responsive: true,
                    ordering: false,
                    "ajax": {
                        url: Url,
                        type: "GET",
                        dataType: "json"
                    },
                    "columns": [
                        { "data": "FechaVenta" },
                        { "data": "Cliente" },
                        { "data": "Producto" },
                        {
                            "data": "Precio",
                            "render": function (data, type, row) {
                                if (type === 'display' || type === 'filter') {
                                    return new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS' }).format(data);
                                }
                                return data;
                            }
                        },
                        {
                            "data": "Cantidad",
                            "render": function (data, type, row) {
                                if (type === 'display' || type === 'filter') {
                                    return new Intl.NumberFormat('es-AR').format(data);
                                }
                                return data;
                            }
                        },
                        {
                            "data": "Total",
                            "render": function (data, type, row) {
                                if (type === 'display' || type === 'filter') {
                                    return new Intl.NumberFormat('es-ar', { style: 'currency', currency: 'ARS' }).format(data);
                                }
                                return data;
                            }
                        },
                        { "data": "IdTransaccion" }
                    ],
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json', // sirve para poner el DataTable en español
                    }

                });


        })

        $("#btnbuscar").on("click", function () {

            var nueva_url = '@Url.Action("ListaReporte", "Home")' +     
            "?fechainicio=" + $("#txtfechainicio").val() +
            "&fechafin=" + $("#txtfechafin").val() +
            "&idtransaccion=" + $("#txtidtransaccion").val()

            tabladata.ajax.url(nueva_url).load(); // configurar de nuevo la url con los nuevos valores de las fechas
        })





    </script>


}